body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.container {
  width: 100%;
  max-width: 1200px; /* Adjust maximum width as needed */
  /*display: flex;
  flex-wrap: wrap;*/
  justify-content: center; /* Center cards horizontally */
  align-items: center; /* Center cards vertically */
  gap: 20px;
  padding: 20px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  flex: 1 1 250px; /* Equal width for all cards */
  height: 300px; /* Equal height for all cards */
  margin: 10px; /* Adjust margin as needed */
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card:hover {
  transform: translateY(-5px);
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  background-color: #ffc324;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button-reddit {
  background-color: #3a9cc6; /* Updated Reddit button color */
  color: white;
}

.button:hover {
  background-color: #ffb700;
}

.button-reddit:hover {
  background-color: #2c7da0; /* Darker hover color for Reddit button */
}

.fa-regular,
.far {
  color: #fec324; /* Example color */
  /* Add more styles as needed */
}

.fa-exchange-alt:before,
.fa-right-left:before {
  color: #fec324; /* Example color */
}

.fa-reddit:before {
  color: #3a9cc6; /* Example color */
}

.credits {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 10px;
  border-top: 1px solid #4a5768;
  font-size: 0.9em;
  color: #91989e;
  text-align: center;
}

/* Style for the link inside the credits */
a.credit-link {
  transition: color 0.3s ease; /* Smooth color transition */
  color: #399cc6;
}

a.credit-link:visited {
  color: #399cc6; /* Same color as the text for visited links */
}

a.credit-link:hover {
  color: #333; /* Change color on hover */
}

a.credit-link:active {
  color: #399cc6; /* Same color as the text for active links */
  text-decoration: underline; /* Add underline on hover */
}

a.credit-link:focus {
  color: #4a5768; /* Same color as the text for focused links */
}

@media (max-width: 768px) {
  .container {
    flex-direction: column; /* Stack cards vertically on smaller screens */
    align-items: center; /* Center cards vertically on smaller screens */
  }

  .card {
    flex-basis: calc(100% - 20px); /* Take full width minus gap on smaller screens */
    height: auto; /* Auto height to accommodate content */
    margin-bottom: 20px; /* Add space between stacked cards */
  }
}
